body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logoimg{
  width: 80%;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-left: 35px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input.valid {
  border: 2px solid green;
}

input.invalid {
  border: 2px solid red;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #0078d4;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

.choices {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  /* padding: 10px 0px; */
  padding-bottom: 10px;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.mailbutton{
  border: 1px solid green;
  background-color: transparent;
  color: black;
  font-size: 12px;
  padding: 5px;
  width: fit-content;

}
.mailbutton:not(:disabled):hover{
  background-color: rgb(81, 207, 169);
  color: white;
  border: none;
}

.suggestion-wrapper {
  display: flex;
  align-items: center;  /* vertically center error with button */
  gap: 8px;             /* space between button and error */
  margin-bottom: 5px;   /* optional spacing between suggestions */
}

.button-error {
  color: red;
  font-size: 12px;
}

.validationBox{
background:#fafafa;
border:1px solid #ddd;
padding:10px;
border-radius:5px;
margin-bottom: 20px;
}

.validationBox p{
margin:5px 0;
font-size:10px;
color: grey;
}

.mailchecking{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

#loadingicon{
  height: 30px;
  padding-top: 5px;
  margin-left: 10px;
}
.hidden{
  display: none;
}

input{
  width: 95%;
}